<div>
    <button ng-click="$ctrl.addOne()">Add</button>
</div>

<div>
    <button ng-click="$ctrl.resetSort()">Reset</button>
    <button ng-click="$ctrl.sortBy('description')">By name</button>
    <button ng-click="$ctrl.sortBy('createdAt')">By date</button>
</div>

<div ng-repeat="todo in $ctrl.todos | orderBy:$ctrl.fieldName:$ctrl.reverse">    
    <input type="checkbox" ng-model="todo.isDone">
    <span 
        ng-bind="todo.description"
        ng-class="{'done-todo': todo.isDone}"
    >
    </span>
    <span> 
        Created at {{$ctrl.formatTodoDate(todo.createdAt)}}
    </span>
    <button ng-click="$ctrl.deleteOne(todo.id)">Delete</button>
    <button ng-click="$ctrl.updateOne(todo.id)">Update</button>
</div>
